.skills{
    min-height: 600px;
    color: #000;
      border-bottom: 1px solid rgba(0,0,0,0.1);
}
.icon{
    font-size:60px;
   color: rgba(0,0,0,0.6);
}
.description{
    
   color: rgba(0,0,0,0.7);
}