/* Importing fonts for my site */

@font-face {
  font-family:'autography';
  src: url("./Font/Autography.woff");
}
@font-face {
  font-family: 'gg';
  src: url('./Font/gg.woff');
}
@font-face {
  font-family: 'Georgia';
  src: url('./Font/Georgia.woff');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,Georgia, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
